@tailwind base
@tailwind components
@tailwind utilities

html, body
    height: 1px
    min-width: 300px
    min-height: 100%

#__next, #hh-space, #hh-app
    height: 100%

@layer base
    html
        -webkit-tap-highlight-color: transparent
        scroll-behavior: smooth