.hero
    padding-top: calc( 80px + 1rem )
    position: relative
    background-blend-mode: multiply
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    min-height: 680px
    padding-bottom: 1rem
    background-image: var(--bg-webp)

    :global(html.no-webp) &
        background-image: var(--bg)

    @screen md
        max-height: 800px
        height: 100vh
