@import "./_navbar.variables"

@mixin indicatorStick()
    content: ""
    position: absolute
    left: 0px
    bottom: 0px
    height: 2px
    width: 0%
    border-color: #000
    background-color: #000
    transition: width .3s ease-in-out
    transition-delay: .25s

.over
    opacity: 0
    transition-property: opacity
    transition-duration: 400ms
    transition-delay: $over-opacity-close
    pointer-events: none
    background-size: cover
    background-position: right
    background-repeat: no-repeat
    background-image: var(--bg-webp)

    :global(html.no-webp) &
        background-image: var(--bg)

.navbar[data-expanded="true"] + .over
    opacity: 1
    transition-delay: $over-opacity-open

    @screen lg
        opacity: 0

.navbar
    transition-property: height
    transition-duration: 200ms
    transition-delay: $navbar-height-collapse
    width: 100%
    height: 80px
    z-index: 20
    position: fixed
    top: 0
    left: 0
    display: flex
    overflow: hidden

    &[data-expanded="true"]
        transition-delay: $navbar-height-expand
        height: 100%
        overflow-y: scroll

        @screen lg
            height: 80px

    &.goFront
        background-color: white
        @apply shadow-sm

    &[data-expanded="true"].goFront
        transition-property: height, background-color
        transition-duration: 200ms, 300ms
        transition-delay: $navbar-height-expand, $navbar-bg-color
        background-color: transparent
        box-shadow: none

.toggleButton
    width: 24px
    height: 32px

    &:focus
        outline: none

    span:nth-child(1)
        transform: translateY(-0.5rem)

    span:nth-child(2)
        opacity: 1

    span:nth-child(3)
        transform: translateY(0.5rem)

    &[data-expanded="true"]
        span:nth-child(1)
            transform: translateY(0rem) rotate(45deg)

        span:nth-child(2)
            @apply opacity-0 translate-x-3

        span:nth-child(3)
            transform: translateY(0rem) rotate(-45deg)

    @screen lg
        @apply hidden

.contactMail
    transition: opacity 200ms
    transition-delay: $contact-mail-disappear
    opacity: 0

    @screen lg
        opacity: 1

.navbar[data-expanded="true"] .contactMail
    transition-delay: $contact-mail-appear
    opacity: 1

.logo
    position: relative
    @apply ease-in-out

    @screen lg
        &:hover
            .logoExtra
                opacity: 1
                transition-delay: .4s

            &::after
                left: 0
                right: unset
                width: 100%
                transition-delay: 1s

        .logoExtra
            opacity: 0
            transition: opacity .4s
            transition-delay: 1s

        &::after
            @include indicatorStick()
            transition: width .4s
            transition-delay: .4s
            right: 0
            left: unset

.navMenu
    @for $i from 1 through $navitem-count
        li:nth-child(#{$i}) .navLink
            transition-delay: #{$navitem-start-open + ($navitem-count - $i) * $navitem-duration-gap}

.navbar[data-expanded="true"] .navMenu
    @for $i from 1 through $navitem-count
        li:nth-child(#{$i}) .navLink
            transition-delay: #{$navitem-start-open + ($i - 1) * $navitem-duration-gap}

.navMenu li:last-child > .navLink
    padding-right: 0

.navLink
    position: relative
    transition: opacity 200ms
    opacity: 0

    @screen lg
        opacity: 1

    span:not(.routeIndicator)
        transition: color .3s ease-in-out

        @screen lg
            @apply text-sm

.navbar[data-expanded="true"] .navLink
    opacity: 1

.routeIndicator
    @include indicatorStick()
    width: 100%
    bottom: .5rem
    left: 0rem
    width: calc( 100% - .75rem )
    transition: none

    @screen lg
        left: .75rem
        width: calc( 100% - 1.5rem )

.navMenu li:last-child > .navLink > .routeIndicator
    width: 100%
