@mixin indicatorStick()
    content: ""
    position: absolute
    left: 0px
    bottom: 0px
    height: 2px
    width: 0%
    border-color: #000
    background-color: #000
    transition: width .3s ease-in-out
    transition-delay: .25s

.over
    opacity: 0
    transition: opacity 400ms
    transition-delay: 2200ms
    pointer-events: none
    background-image: url('../assets/images/home-page/banner.webp')
    background-size: cover
    background-position: right
    background-repeat: no-repeat

.navbar[data-expanded="true"] + .over
    transition-delay: 0ms
    opacity: 1

    @screen lg
        opacity: 0

.navbar
    transition-property: height
    transition-duration: 200ms
    transition-delay: 1800ms
    width: 100%
    height: 80px
    z-index: 20
    position: fixed
    top: 0
    left: 0

    &[data-expanded="true"]
        transition-delay: 400ms
        height: 100%

        @screen lg
            height: 80px

    &.goFront
        background-color: white
        @apply shadow-sm

    &[data-expanded="true"].goFront
        @apply shadow-none
        transition-property: height, background-color
        transition-duration: 200ms, 300ms
        transition-delay: 0.4s, 0.3s
        background-color: transparent

.toggleButton
    width: 24px
    height: 32px

    &:focus
        outline: none

    span:nth-child(1)
        @apply -translate-y-2

    span:nth-child(2)
        opacity: 1

    span:nth-child(3)
        @apply translate-y-2

    &[data-expanded="true"]
        span:nth-child(1)
            @apply translate-y-0 rotate-45

        span:nth-child(2)
            @apply opacity-0 translate-x-3

        span:nth-child(3)
            @apply translate-y-0 -rotate-45

    @screen lg
        @apply hidden

.contactMail
    transition: opacity 200ms
    transition-delay: 400ms
    opacity: 0

    @screen lg
        opacity: 1

.navbar[data-expanded="true"] .contactMail
    transition-delay: 1800ms
    opacity: 1

.logo
    position: relative

    @screen lg
        &:hover
            .logoExtra
                opacity: 1
                transition-delay: .4s

            &::after
                left: 0
                right: unset
                width: 100%
                transition-delay: 1s

        .logoExtra
            opacity: 0
            transition: opacity .4s ease-in-out
            transition-delay: 1s

        &::after
            @include indicatorStick()
            transition: width .4s ease-in-out
            transition-delay: .4s
            right: 0
            left: unset

.navMenu
    @for $i from 1 through 5
        li:nth-child(#{$i}) .navLink
            transition-delay: #{800ms + (5 - $i) * 150ms}

.navbar[data-expanded="true"] .navMenu
    @for $i from 1 through 5
        li:nth-child(#{$i}) .navLink
            transition-delay: #{800ms + ($i - 1) * 150ms}

.navMenu li:last-child > .navLink
    padding-right: 0

.navLink
    position: relative
    transition: opacity 200ms
    opacity: 0

    @screen lg
        opacity: 1

    span:not(.routeIndicator)
        transition: color .3s ease-in-out

        @screen lg
            @apply text-sm

.navbar[data-expanded="true"] .navLink
    opacity: 1

.routeIndicator
    @include indicatorStick()
    width: 100%
    bottom: .5rem
    left: 0rem
    width: calc( 100% - .75rem )
    transition: none

    @screen lg
        left: .75rem
        width: calc( 100% - 1.5rem )
