@mixin indicatorStick()
    content: ""
    position: absolute
    left: 0px
    bottom: 0px
    height: 2px
    width: 0%
    border-color: #000
    background-color: #000
    transition: width .3s ease-in-out
    transition-delay: .25s

.over
    opacity: 0
    transition: opacity 400ms
    transition-delay: 2200ms
    pointer-events: none

.navbar[data-expanded="true"] + .over
    transition-delay: 0ms
    opacity: 1

    @screen md
        opacity: 0

.navbar
    transition: height 200ms
    transition-delay: 1800ms

    &[data-expanded="true"]
        transition: height 400ms
        transition-delay: 400ms

.contactMail
    transition: opacity 200ms
    transition-delay: 400ms

.navbar[data-expanded="true"] .contactMail
    transition-delay: 1800ms

.logo
    position: relative

    @screen md
        &:hover
            .logoExtra
                opacity: 1

            &::after
                width: 100%

        .logoExtra
            opacity: 0
            transition: opacity 0.2s

        &::after
            @include indicatorStick()

.navMenu
    @for $i from 1 through 5
        li:nth-child(#{$i}) .navLink
            transition-delay: #{800ms + (5 - $i) * 150ms}

.navbar[data-expanded="true"] .navMenu
    @for $i from 1 through 5
        li:nth-child(#{$i}) .navLink
            transition-delay: #{800ms + ($i - 1) * 150ms}

.navLink
    position: relative
    transition: opacity 200ms
    opacity: 0

    @screen md
        opacity: 1

    span:not(.routeIndicator)
        transition: color .3s ease-in-out

        @screen md
            @apply text-sm

.navbar[data-expanded="true"] .navLink
    opacity: 1

.routeIndicator
    @include indicatorStick()
    width: 100%
    bottom: .5rem
    left: 0rem
    width: calc( 100% - .75rem )
    transition: none

    @screen md
        left: .75rem
        width: calc( 100% - 1.5rem )
